.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}
.button-group {
    display: flex;
    justify-content: center;
    gap:10px;
}