<form [formGroup]="homeForm" (ngSubmit)="onSubmit()" class="form-col">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cognome</mat-label>
    <input matInput type="text" formControlName="cognome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Colore</mat-label>
    <mat-select formControlName="colore">
      <mat-option value="green">Verde option</mat-option>
      <mat-option value="red">Rosso option</mat-option>
      <mat-option value="grey">Griggio option</mat-option>
      <mat-option value="blue">Blu option</mat-option>
      <mat-option value="pink">Rosa option</mat-option>
    </mat-select>
  </mat-form-field>

  <p>{{msg}}</p>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="!homeForm.valid">Invia</button>
</form>
